<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><b><u>New Feedback</u></b></p>
    <p><b>Message:</b> <%= @feedback.body %></p>
  </body>
</html>
